[changelog]
body = """
{% for group, commits in commits | group_by(attribute="group") %}
## {{ group }}

{% for commit in commits %}
- {{ commit.message }}\
{% endfor %}

{% endfor %}
"""
trim = true

[git]
conventional_commits = true
filter_unconventional = false
commit_parsers = [
	{ message = "^feat", group = "Features" },
	{ message = "^fix", group = "Bug Fixes" },
	{ message = "^refactor", group = "Refactoring" },
	{ message = "^doc", group = "Documentation" },
	{ message = "^perf", group = "Performance" },
	{ message = "^test", group = "Testing" },
	{ message = "^chore|^ci", group = "Miscellaneous" },
	{ message = "^Merge", skip = true },
]
