@import "tailwindcss";
@import "@nuxt/ui";
@import "./variables.css";

@font-face {
	font-family: "Saans";
	src: url("../fonts/SaansVF.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Saans";
	src: url("../fonts/SaansVFItalics.woff2") format("woff2");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@theme {
	--font-sans: "Saans", "sans-serif";
	--color-primary: var(--color-petrol-blue-900);
	--ui-radius: 0.25rem;
}

@layer utilities {
    .btn-ai {
		position: relative;
		background-color: var(--color-secondary-50);
		color: var(--ui-primary-900);

		&:before{
			content: "";
			position: absolute;
			inset: -1px;
			z-index: -1;
			border-radius: calc(var(--ui-radius) + 2px);
			background-image: var(--color-ai);
		}

		&:hover{
			background-color: var(--color-secondary-100);
			&:before {
				background-color: var(--color-secondary-200);
			}
		}
		&:focus{
			background-color: var(--color-secondary-50);
			&:before {
				inset: -2px;
			}
		}
		&:active{
			background-color: var(--color-secondary-200);
			&:before {
				inset: -1px;
			}
		}
		&:disabled {
			background-color: var(--color-primary-50);
			color: var(--color-primary-400);
			&:before {
				background-image: none;
			}
		}
    }

	.btn-learning {
		position: relative;
		background-color: var(--color-white);
		color: var(--color-info-700);

		&:before{
			content: "";
			position: absolute;
			inset: 0;
			z-index: -1;
			border-radius: calc(var(--ui-radius) + 3px);
			background-image: var(--color-learning);
		}

		&:hover{
			background-color: var(--color-secondary-50);
			&:before {
				inset: -1px;
				background-color: var(--color-secondary-200);
			}
		}
		&:focus{
			background-color: var(--color-secondary-50);
			&:before {
				inset: -2px;
			}
		}
		&:active{
			background-color: var(--color-secondary-200);
			&:before {
				inset: -1px;
			}
		}
		&:disabled {
			background-color: var(--color-primary-50);
			color: var(--color-primary-400);
			&:before {
				background-image: none;
			}
		}
    }

	.alert-ai {
		position: relative;
		overflow: visible !important;
		background-color: var(--color-secondary-50) !important;
		color: var(--color-primary-900) !important;

		&:before {
			content: "";
			position: absolute;
			inset: -2px;
			z-index: -1;
			border-radius: calc(var(--ui-radius) + 6px);
			background-image: var(--color-ai);
		}
	}

	.alert-learning {
		position: relative;
		overflow: visible !important;
		background-color: var(--color-white) !important;
		color: var(--color-info-700) !important;

		&:before {
			content: "";
			position: absolute;
			inset: -2px;
			z-index: -1;
			border-radius: calc(var(--ui-radius) + 6px);
			background-image: var(--color-learning);
		}
	}
}

/* Transitions */
.slide-enter-active,
.slide-leave-active {
	@apply transition-all ease-in-out translate-y-0 duration-300;
}
.slide-enter-from,
.slide-leave-to {
	@apply opacity-0 translate-y-5;
}

.fade-enter-active,
.fade-leave-active {
	@apply transition-opacity ease-in-out duration-300;
}
.fade-enter-from,
.fade-leave-to {
	@apply opacity-0;
}