/* Transitions */
.slide-enter-active,
.slide-leave-active {
	@apply transition-all ease-in-out translate-y-0 duration-300;
}
.slide-enter-from,
.slide-leave-to {
	@apply opacity-0 translate-y-5;
}

.fade-enter-active,
.fade-leave-active {
	@apply transition-opacity ease-in-out duration-300;
}
.fade-enter-from,
.fade-leave-to {
	@apply opacity-0;
}