:root {
	--color-petrol-blue-50: #F0F2F3;
	--color-petrol-blue-100: #ECEEF0;
	--color-petrol-blue-200: #DDE2E5;
	--color-petrol-blue-300: #D1D7DB;
	--color-petrol-blue-400: #C9CFD4;
	--color-petrol-blue-500: #A4AFB8;
	--color-petrol-blue-600: #84939E;
	--color-petrol-blue-700: #617482;
	--color-petrol-blue-800: #415768;
	--color-petrol-blue-900: #253D4F;
	--color-petrol-blue-950: #0C2435;

	--color-sky-50: #F2F2FF;
	--color-sky-100: #ECECFF;
	--color-sky-200: #DEDEFF;
	--color-sky-300: #D3D3FF;
	--color-sky-400: #CACAFF;
	--color-sky-500: #A5A5FF;
	--color-sky-600: #9191FF;
	--color-sky-700: #6868C4;
	--color-sky-800: #4D4D95;
	--color-sky-900: #353568;
	--color-sky-950: #1F1F3C;

	--color-warm-gray-50: #F5F1EF;
	--color-warm-gray-100: #F3EDEA;
	--color-warm-gray-200: #E9DFDA;
	--color-warm-gray-300: #DED5D0;
	--color-warm-gray-400: #D6CDC8;
	--color-warm-gray-500: #B4ACA8;
	--color-warm-gray-600: #96908D;
	--color-warm-gray-700: #76716E;
	--color-warm-gray-800: #585453;
	--color-warm-gray-900: #3D3A39;
	--color-warm-gray-950: #24211F;

	--color-burgundy-50: #F6F2F3;
	--color-burgundy-100: #F2ECEE;
	--color-burgundy-200: #E9DEE0;
	--color-burgundy-300: #E1D3D6;
	--color-burgundy-400: #DBCACE;
	--color-burgundy-500: #C4A7AD;
	--color-burgundy-600: #AE878F;
	--color-burgundy-700: #96646F;
	--color-burgundy-800: #7E4350;
	--color-burgundy-900: #672432;
	--color-burgundy-950: #490614;

	--color-lemon-50: #FFFFE4;
	--color-lemon-100: #FEFFC4;
	--color-lemon-200: #FBFF90;
	--color-lemon-300: #F3FF50;
	--color-lemon-400: #E4FF00;
	--color-lemon-500: #C8E600;
	--color-lemon-600: #9BB800;
	--color-lemon-700: #758B00;
	--color-lemon-800: #5C6D07;
	--color-lemon-900: #4D5C0B;
	--color-lemon-950: #283400;

	--color-info-50: #EFF4FF;
	--color-info-100: #D1E0FF;
	--color-info-200: #B2CCFF;
	--color-info-300: #84ADFF;
	--color-info-400: #528BFF;
	--color-info-500: #2970FF;
	--color-info-600: #155EEF;
	--color-info-700: #004EEB;
	--color-info-800: #0040C1;
	--color-info-900: #00359E;
	--color-info-950: #002266;

	--color-success-50: #ECFDF3;
	--color-success-100: #DCFAE6;
	--color-success-200: #A9EFC5;
	--color-success-300: #75E0A7;
	--color-success-400: #47CD89;
	--color-success-500: #17B26A;
	--color-success-600: #079455;
	--color-success-700: #067647;
	--color-success-800: #085D3A;
	--color-success-900: #074D31;
	--color-success-950: #053321;

	--color-warning-50: #FFFAEB;
	--color-warning-100: #FEF0C7;
	--color-warning-200: #FEDF89;
	--color-warning-300: #FEC84B;
	--color-warning-400: #FDB022;
	--color-warning-500: #F79009;
	--color-warning-600: #DC6803;
	--color-warning-700: #B54708;
	--color-warning-800: #93370D;
	--color-warning-900: #7A2E0E;
	--color-warning-950: #4E1D09;

	--color-error-50: #FEF3F2;
	--color-error-100: #FEE4E2;
	--color-error-200: #FECDCA;
	--color-error-300: #FDA29B;
	--color-error-400: #F97066;
	--color-error-500: #F04438;
	--color-error-600: #D92D20;
	--color-error-700: #B42318;
	--color-error-800: #973131;
	--color-error-900: #7A271A;
	--color-error-950: #55160C;

	--color-off-black: #171715;
	--color-off-black-50: #171715;
	--color-off-black-100: #171715;
	--color-off-black-200: #171715;
	--color-off-black-300: #171715;
	--color-off-black-400: #171715;
	--color-off-black-500: #171715;
	--color-off-black-600: #171715;
	--color-off-black-700: #171715;
	--color-off-black-800: #171715;
	--color-off-black-900: #171715;
	--color-off-black-950: #171715;

	--color-ai: linear-gradient(to right, #00C6FF 0%, #0072FF 33.33%, #B721FF 66.67%, #FDBB2D 100%);
	--color-learning: linear-gradient(to right, #00C6FF 0%, #0072FF 100%);
	--color-learning-icon: linear-gradient(to bottom, #00C6FF 0%, #0072FF 100%);
}
